---
import AllConverters from "../components/AllConverters";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>YNAB CSV converter</title>
	</head>
	<body class="flex h-screen bg-gray-100">
		<div class="container m-auto">
			<h1 class="text-3xl font-semibold">Convert a bank export for YNAB</h1>
			<p class="mt-2 mb-6">Download a <span class="font-mono">.csv</span> file from your bank and drop it below. You will get a new <span class="font-mono">.csv</span> which can be imported into YNAB.</p>
			<div class="grid grid-cols-3 gap-4">
				<AllConverters client:load />
			</div>
		</div>
	</body>
</html>
